@import nib

arrival-color-1-normal = "b2344b"
arrival-color-1-fusia = "d364bd"
arrival-color-1-purple = "a526c9"
arrival-color-2-normal = "6d6d6e"
arrival-color-2-blue = "3e57a2"
arrival-color-2-brown = "6b3828"
arrival-color-3-normal = "847153"
arrival-color-3-black = "black"
arrival-color-3-gray = "909090"
arrival-color-4-normal = "bd3a40"
arrival-color-4-black = "515151"
arrival-color-4-blue = "3e81aa"
arrival-color-4-green = "3dad3d"

naranja = rgb(255, 89, 18)

//Normalizing Classes____________________________________________
::selection
    background #b3d4fc
    text-shadow none

a
	color inherit
	&:hover
		color inherit
		text-decoration none

body
	background-color rgb(244, 246, 248)
	color rgb(52, 64, 75)

	//Style to all Subtitle ind the Site.
	h2
		font-weight 900
		text-align center
		text-transform uppercase
		span
			color naranja

.container
	max-width 90%


//End of normalizing Classes.____________________________________


/*
	All Site Styles to the Complete Site.
==============================================================*/


#header
	// height 830px
	position relative
	#navigation
		background white
		height 180px
		
		#nav-info
			align-items center
			display flex
			height 60px

			ul
				color rgb(52, 64, 75)
				width 100%

				li
					cursor pointer
					font-size 0.8em
					font-weight bold

					.contact-icons
						bottom -4px
						color naranja
						font-size 1.3em
						position relative				
					img
						position relative
						top -1px

				.social-icons
					bottom -3px
					font-size 1.2em
					position relative
					span
						margin 0 0.2em
						position relative
						&:hover
							// display none
							&::before
								color rgba(naranja, .9)
								font-size 1.3em
								position relative

						&::before
							transition all ease 0.4s

		#main-menu
			align-items center
			display flex
			height 120px

			.row
				width 100%
				
			.main-menu-logo
				position relative 
				top -8px
			.menu
				font-size 0.9em
				font-weight 500

				ul
					li
						cursor pointer
						margin-right 1em

						&:hover
							color naranja

					.active
						color naranja

			.main-menu-options
				padding-right 0
				
				#cart-img-orange, #user-img-orange
					display none

				#cart-imgs
					&:hover
						#cart-img
							display none
						#cart-img-orange
							display inline-block
							height 22px
							width 24px

				#user-imgs
					&:hover
						#user-img
							display none
						#user-img-orange
							display inline-block
							height 24px
							width 24px

				ul
							

					li
						cursor pointer
						font-size 1.3em
						margin-left 0.7em
						position relative
						transition all ease 0s

						.cart
							background rgb(52, 64, 75)
							background-clip boerder-box
							border-radius 50%
							color white
							font-size 0.6em
							height 17px
							left 9px
							padding 0.1em
							position absolute
							text-align center
							top -13px
							width 17px

					.rotate-search
						transform rotate(-85deg)
						
						&:hover
							color naranja

#join-section
	.container
		.row
			align-items center
			background white
			margin-top 2em
			margin-bottom 5em
			min-height 123px
			padding 7% 0 0 6%

			div
				margin-bottom 1em
				padding 0

				div
					h5
						color naranja
						font-size 1.2em
						font-weight 800
						margin 0
						text-transform uppercase
						white-space nowrap

					p
						color rgb(52, 64, 75)
						font-size 0.95em
						font-style italic
						font-weight 700
						letter-spacing -1px
						margin 0

					.join-input
						span
							color naranja
							font-size 1.5em
							margin-right 0.5em

						input
							border none
							border-radius 5px
							height 25px
							margin 0
							padding 0 0.5em
							position relative
							top -6px
							transition 0.5s height ease
							width 70%

							&:focus
								border-bottom 3px solid rgba(naranja, 0.5)
								border-top 2px solid rgba(naranja, 0.3)
								box-shadow 0 0 3px 2px rgba(naranja, .1)
								height 35px
								outline 3px rgba(orange, .4)

							&::placeholder
								color rgba(gray, .5)

					.join-button
						.join
							background-color naranja
							border-radius 0
							color white
							outline none
							padding 1em 1.5em
							position relative
							top -14px

#page-footer
	background white
	display flex
	padding 8% 0
	min-height 250px
	overflow hidden
	.container
		.row
			.foot-logo
				.logo-section
					margin 1em 0
				.copyrights
					margin 0.5em 0
					p
						font-weight 700
			.foot-info
				padding-right 0
				div
					// padding-right 1em
					ul
						font-weight 700
						margin 1em 0
						padding-left 20px
						li
							font-size 0.9em
							margin-bottom 1em
				.actived
					color naranja

			.foot-payment
				.title
					margin 2em 0 1em 0
					h4
						color naranja
						font-size 1em
						font-weight 700
						white-space nowrap


//Style of Cards front side
.new-arrival, .product
	background white
	height 365px
	margin-left 1em
	min-height 365px
	min-width 270px
	max-width 270px
	text-align center
	transition all 0.7s
	width 270px

	&-img
		padding-top 2em
		margin-bottom 1.5em

	&-name
		h4
			font-weight 700
			margin 1em 0

	&-price
		h4
			color naranja
			font-weight 700
			margin 1.5em 0

	&:hover
		box-shadow 5px 5px 8px rgba(black, .2)
			



/*	End of All Site Styles
--------------------------------*/


/*
	Home Template Classes 
==============================================================*/


#home
	align-items center
	color rgb(60, 71, 81)
	height 650px
	display flex
	position relative

	.home-bg
		height 100%
		position absolute
		width 100%

	#promos
		align-items center
		display flex
		height 200px
		overflow-x auto

		.promos-controls

			.control
				cursor pointer
				display block
				background white
				height 17px
				margin-bottom 0.8em
				transition 0.4s all ease-in
				width 10px

				&:hover
					background rgba(naranja, 1)
					box-shadow -2px -2px 5px rgba(0, 0, 0, .4)

			.promo-selected
				background naranja
				height 36px
				box-shadow -2px -2px 5px rgba(0, 0, 0, .4)

		.promo
			height 100%
			left 0
			margin 0
			padding-right 0
			position relative
			transition 1s all ease-in

			&-title
				h1
					color naranja
					font-size 3em
					font-weight 900
					margin 0 0 0.4em 0
					text-transform uppercase

			&-content
				&-pack
					p
						font-size 1.2em
						font-weight bold

				&-description
					p
						color rgb(73, 86, 98)
						font-size 1.1em

			&-foot
				align-items center
				bottom 0
				display flex
				position absolute

				&-price
					margin-right 2em
					p
						font-weight 700
						font-size 1.2em
						margin 0

				&-order
					color naranja
					p
						font-size 1.2em
						margin 0
						span
							position relative
							top -3px

#new-arrivals-section
	min-height 650px
	position relative
	// overflow hidden

	.container
		// overflow-x auto

		#new-arrivals
			text-align center
			position relative

			&-title
				// display none
				h2
					margin 1.2em 0 0.7em 0
					span
						//

			&-description
				margin-bottom 2em
				// p

			&-content-1, &-content-2, &-content-3
				align-items center
				display flex
				overflow-y auto
				padding 0.7em

				.new-arrival
					&:first-child
						margin 0

			&-paging
				align-items center
				display flex
				height 100px

				.paging-controls
					align-items center
					display flex
					background white
					height 50px
					justify-content center

					span
						background naranja
						background-clip border-box
						border-radius 50%
						cursor pointer
						height 8px
						margin 0 0.2em
						width 8px
						
						&:hover
							border 6px solid naranja
							box-shadow 1px 2px 2px rgba(0,0,0, 0.5)						

					.active
						border 6px solid naranja
						box-shadow 1px 2px 2px rgba(0,0,0, 0.5)

#best-sales
	min-min-height 830px
	.container
		padding-top 2em
		background-clip content-box

		#best-sales-offers
			.best-sales-offer
				background white
				background-clip content-box
				height 100px
				margin-bottom 3em

				&-discount
					align-items center
					display flex
					height 100px
					justify-content center
					position relative

					.sale-bg
						background naranja
						height 60px
						right 40px
						position absolute
						transform rotate(45deg)
						width 50px

						&::after
							content ''
							background rgba(naranja, 0.5)
							display block
							height 52px
							right 5px
							position relative
							top 4px
							width 60px

					.discount
						text-align center

						p
							color white
							font-size 0.8em
							font-style italic
							right 46px
							margin 0
							position absolute
							top 25px

							span
								font-size 1.6em
								font-style normal
								font-weight 700
								margin 0

				&-content
					padding-right 0

					.offer-description
						padding-right 0
						h3
							font-size 1.3em
							font-weight 900
							letter-spacing -1px
							text-transform uppercase
						p
							font-size 0.9em
							font-weight 600
							letter-spacing -1px

					.offer-price
						height 100px
						padding 0
						h3
							color naranja
							font-size 2em
							font-weight 800
							margin 23% 0
							span
								cursor pointer
								font-weight 900
								font-size 0.8em

				.adv-area-title
					text-align center
					p
						font-size 1.1em
						font-weight 700
						margin 1.3em 0 0.5em 0
						span
							color naranja

				.adv-area-size
					color gray
					letter-spacing 8px
					text-align center

		#best-sales-body
			margin-top 3em
			margin-bottom 4em
	
			.best-sales-title
				margin 1.5em 0 2em 0

			.best-sales-description
				margin-bottom 5.5em
				text-align center

			.best-sales-content
				display flex
				height 195px
				justify-content space-between
				overflow-x auto

				.best-sale
					background white
					height 160px
					margin-right 1em
					min-width 370px
					position relative
					width 370px
					
					&:hover
						box-shadow 3px 3px 8px rgba(black, .2)

					&-img
						position absolute
						top 40px
						left 25px

					&-name
						position absolute
						right 45px
						top 30px
						h3
							font-size 1.3em

					&-votes
						background-color white
						background url('../imgs/icons/rate.png'), 
						url('../imgs/icons/rate.png'), 
						url('../imgs/icons/rate.png'), 
						url('../imgs/icons/rate.png'), 
						url('../imgs/icons/rate.png')
						background-size 14px 12px
						position absolute
						height 13px
						right 145px
						top 95px
						width 71px

					&-price
						color naranja
						position absolute
						right 45px
						top 82px
						h4
							font-weight 700
	

/*	End of Home Template Classes
--------------------------------*/


/*
	Products Template Classes 
==============================================================*/



#products-section
	margin-top 5em
	margin-bottom 5em

	.container
		.row
			#filters
				z-index 999
				.filter
					background white
					margin-bottom 2em
					max-width 270px
					min-width 220px
					padding 2.5em 2.7em

					h4
						color naranja
						font-size 1.2em
						font-weight 800
						letter-spacing -1px
				
					ul
						margin 0
						padding 0
						font-size 1em

						li
							cursor pointer
							font-weight 700
							list-style none
							margin 2em 0

						.active
							color naranja

					.styled-ul
						li
							padding-left 1.8em
							position relative
	
							&::before
								content ''
								background rgba(gray, .2)
								height 13px
								left 0
								position absolute
								top 4px
								width 13px
						 
						.active
							&::before
								content ''
								background white
								border 4px solid naranja

					&-price-content
						font-size 1em
						font-weight 700
						letter-spacing -1px
						margin-top 2.5em

						.line-filter
							border-bottom 2px solid rgba(gray, .4)
							height 30px
							margin-bottom 2em
							margin-top 2em
							position relative


							.price-from
								left 7%
								position absolute
								text-align left
								top -5px

							.price-to
								position absolute
								right 3%
								top -5px

							.dot-from
								left 10%
								position absolute

							.from-to
								border-bottom 3px solid rgb(52, 64, 75)
								bottom -3px
								left 10%
								min-width 5px
								padding 0 0.2em
								position absolute
								right 10%

							.dot-to
								position absolute
								right 10%


							.dot
								background rgb(52, 64, 75)
								background-clip content-box
								border-radius 50%
								cursor pointer
								height 11px
								bottom -7px
								width 11px

						.text-filter
							display inline-block
							position relative
							margin-bottom 2em
							width 100%
							.from
								display flex
								position absolute
								top 10px

							.to
								display flex
								position absolute
								right 0px
								top 10px

							label
								margin 0 0.5em 0 0em
							input
								// font-weight normal
								background rgba(gray, .1)
								border none
								outline none
								height 29px
								position relative
								top -5px
								width 49px

			#results
				padding 0
				#products
					z-index 0
					display block
					.product
						margin-bottom 2em

				#product-paging
					align-items center
					display flex
					height 50px

					.paging-controls
						align-items center
						background white
						background-clip content-box
						display flex
						height 50px
						justify-content center
						padding-left 0
						padding-right 2.8em

						span
							background naranja
							border-radius 50%
							cursor pointer
							height 8px
							margin 0 0.2em
							width 8px

							&:hover
								border 6px solid naranja
								box-shadow 1px 2px 2px rgba(0,0,0, 0.5)						

						.active
							border 6px solid naranja
							box-shadow 1px 2px 2px rgba(0,0,0, 0.5)









/*	End of Products Template Classes
--------------------------------*/





/*
	Product Details || Product Show Template Classes 
==============================================================*/

#product-details-section
	background white
	min-height 650px
	.container
		padding-top 5em
		padding-bottom 3em
		.row
			#product-details
				display block
				position relative
				top -50%
				.product-view
					align-items center
					display flex
					flex-direction column
					margin-bottom 2em
					&-large
						min-height 350px
						img
							// 
					&-mini
						border 3px solid white
						display flex
						justify-content left
						max-width 330px
						margin-left 5%
						overflow-y auto
						.mini-image
							align-items center
							display flex
							height 69px
							justify-content center
							margin-right 1em
							min-width 95px
							position relative
							width 95px
							
							&-bg
								background rgba(gray, 0.3)
								cursor pointer
								height 100%
								position absolute
								width 100%
							
								&:hover
									background rgba(naranja, 0.3)
									
				
							.active
								background rgba(naranja, 0.5)

				.product-detail
					padding-right 0
					&-title
						h1
							color naranja
							font-size 2.9em
							font-weight 900
							text-transform uppercase

					&-content
						&-pack
							p
								font-size 1.17em
								font-weight 700

						&-description
							margin-bottom 5em
							p
								font-size 1.1em

					.choose
						&-size
							ul
								label
									font-size 1.3em
									letter-spacing -1px
									margin-right 0.5em

								li
									font-weight bold

									&::after
										content '-'
										position relative
										right -8px

									&:last-child
										&::after
											content ''

									.active
										font-size 1.25em
										color naranja

						&-quantity
							padding-left 1.5em
							padding-right 0
							label
								font-size 1.3em
								letter-spacing -1px
								margin-right 1em
							span
								font-size 1.2em
								font-weight bold
								margin-right 0.8em
							.active
								color naranja
								font-weight 800

					.product-foot
						margin-top 4.6em
						&-price
							label
								font-size 1.4em
								font-weight 700

						&-order
							padding-left 1.7em
							padding-right 0
							span
								margin-right 1.7em
								img
									cursor pointer
								button
									background naranja
									color white
									border-radius 50px
									padding 0.85em 2em


#related-products-section
	.container
		padding 5em 0 2em 0
		
		#related-products
			#product-title
				margin-bottom 1.5em
				
				h2
					font-size 1.7em
					
			#product-description
				margin-bottom 4em
				text-align center
			
			#product-content
				align-items center
				display flex
				overflow-y auto
				padding 0.7em
				
				.product
					margin-bottom 2em

			





/*	End of Product Details || Product Show Template Classes
--------------------------------*/















