@import nib

naranja = rgb(255, 89, 18)

/*
	General Classes to the Complete Site.
==============================================================*/

::selection
    background #b3d4fc
    text-shadow none


body
	background-color rgb(244, 246, 248)
	color rgb(52, 64, 75)

	//Style to all Subtitle ind the Site.
	h2
		// color rgb(52, 64, 75)
		font-weight 900
		text-align center
		text-transform uppercase
		span
			color naranja


/*	End of General Classes
--------------------------------*/


/*
	Home Template Classes 
==============================================================*/

#main
	height 830px
	position relative
	#navigation
		background white
		height 180px
		
		#nav-info
			align-items center
			display flex
			height 60px

			ul
				color rgb(52, 64, 75)
				width 100%

				li
					cursor pointer
					font-size 0.8em
					font-weight bold

					.contact-icons
						bottom -4px
						color naranja
						font-size 1.3em
						position relative				
					img
						position relative
						top -1px

				.social-icons
					bottom -3px
					font-size 1.2em
					position relative
					span
						margin 0 0.2em
						position relative
						&:hover
							// display none
							&::before
								color rgba(naranja, .9)
								font-size 1.3em
								position relative

						&::before
							transition all ease 0.4s

		#main-menu
			align-items center
			display flex
			height 120px

			.row
				width 100%
				
			.main-menu-logo
				position relative 
				top -8px
			.menu
				font-size 0.9em
				font-weight 500
				ul
					li
						cursor pointer
						margin-right 1em
					.active
						color naranja
						
			.main-menu-options
				padding-right 0
				ul
					li
						cursor pointer
						font-size 1.3em
						margin-left 0.7em
						position relative
						transition all ease 0.6s

						.cart
							background rgb(52, 64, 75)
							background-clip boerder-box
							border-radius 50%
							color white
							font-size 0.6em
							height 17px
							left 9px
							padding 0.1em
							position absolute
							text-align center
							top -13px
							width 17px
							
					.rotate-search
						transform rotate(-85deg)

	#home
		align-items center
		color rgb(60, 71, 81)
		height 650px
		display flex
		position relative
		
		.home-bg
			height 100%
			position absolute
			width 100%
		#promos
			align-items center
			display flex
			height 200px
			
			.promos-controls
				span
					cursor pointer
					display block
					background white
					height 17px
					margin-bottom 0.8em
					width 10px
				.promo-selected
					background naranja
					height 36px
			.promo
				height 100%
				margin 0
				padding-right 0
				position relative
				&-title
					h1
						color naranja
						font-size 3em
						font-weight 900
						margin 0 0 0.4em 0
						text-transform uppercase
				&-content
					&-pack
						p
							font-size 1.2em
							font-weight bold
					&-description
						p
							color rgb(73, 86, 98)
							font-size 1.1em
				&-foot
					align-items center
					bottom 0
					display flex
					position absolute
					&-price
						margin-right 2em
						p
							font-weight 700
							font-size 1.2em
							margin 0
					&-order
						color naranja
						p
							font-size 1.2em
							margin 0
							span
								position relative
								top -3px
								// 






// #new-arrivals









/*	End of Home Template Classes
--------------------------------*/




