::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #f4f6f8;
  color: #34404b;
}
body h2 {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
body h2 span {
  color: #ff5912;
}
.container {
  max-width: 90%;
}
/*
	All Site Styles to the Complete Site.
==============================================================*/
#header {
  position: relative;
}
#header #navigation {
  background: #fff;
  height: 180px;
}
#header #navigation #nav-info {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 60px;
}
#header #navigation #nav-info ul {
  color: #34404b;
  width: 100%;
}
#header #navigation #nav-info ul li {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
}
#header #navigation #nav-info ul li .contact-icons {
  bottom: -4px;
  color: #ff5912;
  font-size: 1.3em;
  position: relative;
}
#header #navigation #nav-info ul li img {
  position: relative;
  top: -1px;
}
#header #navigation #nav-info ul .social-icons {
  bottom: -3px;
  font-size: 1.2em;
  position: relative;
}
#header #navigation #nav-info ul .social-icons span {
  margin: 0 0.2em;
  position: relative;
}
#header #navigation #nav-info ul .social-icons span:hover::before {
  color: rgba(255,89,18,0.9);
  font-size: 1.3em;
  position: relative;
}
#header #navigation #nav-info ul .social-icons span::before {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
#header #navigation #main-menu {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 120px;
}
#header #navigation #main-menu .row {
  width: 100%;
}
#header #navigation #main-menu .main-menu-logo {
  position: relative;
  top: -8px;
}
#header #navigation #main-menu .menu {
  font-size: 0.9em;
  font-weight: 500;
}
#header #navigation #main-menu .menu ul li {
  cursor: pointer;
  margin-right: 1em;
}
#header #navigation #main-menu .menu ul .active {
  color: #ff5912;
}
#header #navigation #main-menu .main-menu-options {
  padding-right: 0;
}
#header #navigation #main-menu .main-menu-options #cart-img-orange,
#header #navigation #main-menu .main-menu-options #user-img-orange {
  display: none;
}
#header #navigation #main-menu .main-menu-options #cart-imgs:hover #cart-img {
  display: none;
}
#header #navigation #main-menu .main-menu-options #cart-imgs:hover #cart-img-orange {
  display: inline-block;
  height: 22px;
  width: 24px;
}
#header #navigation #main-menu .main-menu-options #user-imgs:hover #user-img {
  display: none;
}
#header #navigation #main-menu .main-menu-options #user-imgs:hover #user-img-orange {
  display: inline-block;
  height: 24px;
  width: 24px;
}
#header #navigation #main-menu .main-menu-options ul li {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: 0.7em;
  position: relative;
  -webkit-transition: all ease 0s;
  -moz-transition: all ease 0s;
  -o-transition: all ease 0s;
  -ms-transition: all ease 0s;
  transition: all ease 0s;
}
#header #navigation #main-menu .main-menu-options ul li .cart {
  background: #34404b;
  -webkit-background-clip: boerder-box;
  -moz-background-clip: boerder-box;
  background-clip: boerder-box;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6em;
  height: 17px;
  left: 9px;
  padding: 0.1em;
  position: absolute;
  text-align: center;
  top: -13px;
  width: 17px;
}
#header #navigation #main-menu .main-menu-options ul .rotate-search {
  -webkit-transform: rotate(-85deg);
  -moz-transform: rotate(-85deg);
  -o-transform: rotate(-85deg);
  -ms-transform: rotate(-85deg);
  transform: rotate(-85deg);
}
#header #navigation #main-menu .main-menu-options ul .rotate-search:hover {
  color: #ff5912;
}
#join-section .container .row {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  margin-top: 2em;
  margin-bottom: 5em;
  min-height: 123px;
  padding: 7% 0 0 6%;
}
#join-section .container .row div {
  margin-bottom: 1em;
  padding: 0;
}
#join-section .container .row div div h5 {
  color: #ff5912;
  font-size: 1.2em;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
#join-section .container .row div div p {
  color: #34404b;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
}
#join-section .container .row div div .join-input span {
  color: #ff5912;
  font-size: 1.5em;
  margin-right: 0.5em;
}
#join-section .container .row div div .join-input input {
  border: none;
  border-radius: 5px;
  height: 25px;
  margin: 0;
  padding: 0 0.5em;
  position: relative;
  top: -6px;
  -webkit-transition: 0.5s height ease;
  -moz-transition: 0.5s height ease;
  -o-transition: 0.5s height ease;
  -ms-transition: 0.5s height ease;
  transition: 0.5s height ease;
  width: 70%;
}
#join-section .container .row div div .join-input input:focus {
  border-bottom: 3px solid rgba(255,89,18,0.5);
  border-top: 2px solid rgba(255,89,18,0.3);
  -webkit-box-shadow: 0 0 3px 2px rgba(255,89,18,0.1);
  box-shadow: 0 0 3px 2px rgba(255,89,18,0.1);
  height: 35px;
  outline: 3px rgba(255,165,0,0.4);
}
#join-section .container .row div div .join-input input::-webkit-input-placeholder {
  color: rgba(128,128,128,0.5);
}
#join-section .container .row div div .join-input input::-moz-placeholder {
  color: rgba(128,128,128,0.5);
}
#join-section .container .row div div .join-input input:-ms-input-placeholder {
  color: rgba(128,128,128,0.5);
}
#join-section .container .row div div .join-input input::placeholder {
  color: rgba(128,128,128,0.5);
}
#join-section .container .row div div .join-button .join {
  background-color: #ff5912;
  border-radius: 0;
  color: #fff;
  outline: none;
  padding: 1em 1.5em;
  position: relative;
  top: -14px;
}
#page-footer {
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 8% 0;
  min-height: 250px;
  overflow: hidden;
}
#page-footer .container .row .foot-logo .logo-section {
  margin: 1em 0;
}
#page-footer .container .row .foot-logo .copyrights {
  margin: 0.5em 0;
}
#page-footer .container .row .foot-logo .copyrights p {
  font-weight: 700;
}
#page-footer .container .row .foot-info {
  padding-right: 0;
}
#page-footer .container .row .foot-info div ul {
  font-weight: 700;
  margin: 1em 0;
  padding-left: 20px;
}
#page-footer .container .row .foot-info div ul li {
  font-size: 0.9em;
  margin-bottom: 1em;
}
#page-footer .container .row .foot-info .actived {
  color: #ff5912;
}
#page-footer .container .row .foot-payment .title {
  margin: 2em 0 1em 0;
}
#page-footer .container .row .foot-payment .title h4 {
  color: #ff5912;
  font-size: 1em;
  font-weight: 700;
  white-space: nowrap;
}
.new-arrival,
.product {
  background: #fff;
  height: 365px;
  margin-left: 1em;
  min-height: 365px;
  min-width: 270px;
  max-width: 270px;
  text-align: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
  width: 270px;
}
.new-arrival-img,
.product-img {
  padding-top: 2em;
  margin-bottom: 1.5em;
}
.new-arrival-name h4,
.product-name h4 {
  font-weight: 700;
  margin: 1em 0;
}
.new-arrival-price h4,
.product-price h4 {
  color: #ff5912;
  font-weight: 700;
  margin: 1.5em 0;
}
.new-arrival:hover,
.product:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}
/*	End of All Site Styles
--------------------------------*/
/*
	Home Template Classes 
==============================================================*/
#home {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #3c4751;
  height: 650px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
}
#home .home-bg {
  height: 100%;
  position: absolute;
  width: 100%;
}
#home #promos {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 200px;
  overflow-x: auto;
}
#home #promos .promos-controls .control {
  cursor: pointer;
  display: block;
  background: #fff;
  height: 17px;
  margin-bottom: 0.8em;
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  -o-transition: 0.4s all ease-in;
  -ms-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
  width: 10px;
}
#home #promos .promos-controls .control:hover {
  background: #ff5912;
  -webkit-box-shadow: -2px -2px 5px rgba(0,0,0,0.4);
  box-shadow: -2px -2px 5px rgba(0,0,0,0.4);
}
#home #promos .promos-controls .promo-selected {
  background: #ff5912;
  height: 36px;
  -webkit-box-shadow: -2px -2px 5px rgba(0,0,0,0.4);
  box-shadow: -2px -2px 5px rgba(0,0,0,0.4);
}
#home #promos .promo {
  height: 100%;
  margin: 0;
  padding-right: 0;
  position: relative;
}
#home #promos .promo-title h1 {
  color: #ff5912;
  font-size: 3em;
  font-weight: 900;
  margin: 0 0 0.4em 0;
  text-transform: uppercase;
}
#home #promos .promo-content-pack p {
  font-size: 1.2em;
  font-weight: bold;
}
#home #promos .promo-content-description p {
  color: #495662;
  font-size: 1.1em;
}
#home #promos .promo-foot {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: absolute;
}
#home #promos .promo-foot-price {
  margin-right: 2em;
}
#home #promos .promo-foot-price p {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
}
#home #promos .promo-foot-order {
  color: #ff5912;
}
#home #promos .promo-foot-order p {
  font-size: 1.2em;
  margin: 0;
}
#home #promos .promo-foot-order p span {
  position: relative;
  top: -3px;
}
#new-arrivals-section {
  min-height: 650px;
  position: relative;
}
#new-arrivals-section .container #new-arrivals {
  text-align: center;
  position: relative;
}
#new-arrivals-section .container #new-arrivals-title h2 {
  margin: 1.2em 0 0.7em 0;
}
#new-arrivals-section .container #new-arrivals-description {
  margin-bottom: 2em;
}
#new-arrivals-section .container #new-arrivals-content {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow-y: auto;
  padding: 0.7em;
}
#new-arrivals-section .container #new-arrivals-content .new-arrival:first-child {
  margin: 0;
}
#new-arrivals-section .container #new-arrivals-paging {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100px;
}
#new-arrivals-section .container #new-arrivals-paging .paging-controls {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background: #fff;
  height: 50px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#new-arrivals-section .container #new-arrivals-paging .paging-controls span {
  background: #ff5912;
  border-radius: 50%;
  cursor: pointer;
  height: 8px;
  margin: 0 0.2em;
  width: 8px;
}
#best-sales {
  min-min-height: 830px;
}
#best-sales .container {
  padding-top: 2em;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
}
#best-sales .container #best-sales-offers .best-sales-offer {
  background: #fff;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  height: 100px;
  margin-bottom: 3em;
}
#best-sales .container #best-sales-offers .best-sales-offer-discount {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
#best-sales .container #best-sales-offers .best-sales-offer-discount .sale-bg {
  background: #ff5912;
  height: 60px;
  right: 40px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50px;
}
#best-sales .container #best-sales-offers .best-sales-offer-discount .sale-bg::after {
  content: '';
  background: rgba(255,89,18,0.5);
  display: block;
  height: 52px;
  right: 5px;
  position: relative;
  top: 4px;
  width: 60px;
}
#best-sales .container #best-sales-offers .best-sales-offer-discount .discount {
  text-align: center;
}
#best-sales .container #best-sales-offers .best-sales-offer-discount .discount p {
  color: #fff;
  font-size: 0.8em;
  font-style: italic;
  right: 46px;
  margin: 0;
  position: absolute;
  top: 25px;
}
#best-sales .container #best-sales-offers .best-sales-offer-discount .discount p span {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
#best-sales .container #best-sales-offers .best-sales-offer-content {
  padding-right: 0;
}
#best-sales .container #best-sales-offers .best-sales-offer-content .offer-description {
  padding-right: 0;
}
#best-sales .container #best-sales-offers .best-sales-offer-content .offer-description h3 {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#best-sales .container #best-sales-offers .best-sales-offer-content .offer-description p {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: -1px;
}
#best-sales .container #best-sales-offers .best-sales-offer-content .offer-price {
  height: 100px;
  padding: 0;
}
#best-sales .container #best-sales-offers .best-sales-offer-content .offer-price h3 {
  color: #ff5912;
  font-size: 2em;
  font-weight: 800;
  margin: 23% 0;
}
#best-sales .container #best-sales-offers .best-sales-offer-content .offer-price h3 span {
  cursor: pointer;
  font-weight: 900;
  font-size: 0.8em;
}
#best-sales .container #best-sales-offers .best-sales-offer .adv-area-title {
  text-align: center;
}
#best-sales .container #best-sales-offers .best-sales-offer .adv-area-title p {
  font-size: 1.1em;
  font-weight: 700;
  margin: 1.3em 0 0.5em 0;
}
#best-sales .container #best-sales-offers .best-sales-offer .adv-area-title p span {
  color: #ff5912;
}
#best-sales .container #best-sales-offers .best-sales-offer .adv-area-size {
  color: #808080;
  letter-spacing: 8px;
  text-align: center;
}
#best-sales .container #best-sales-body {
  margin-top: 3em;
  margin-bottom: 4em;
}
#best-sales .container #best-sales-body .best-sales-title {
  margin: 1.5em 0 2em 0;
}
#best-sales .container #best-sales-body .best-sales-description {
  margin-bottom: 5.5em;
  text-align: center;
}
#best-sales .container #best-sales-body .best-sales-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 195px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow-x: auto;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale {
  background: #fff;
  height: 160px;
  margin-right: 1em;
  min-width: 370px;
  position: relative;
  width: 370px;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale:hover {
  -webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}
#best-sales .container #best-sales-body .best-sales-content .best-sale-img {
  position: absolute;
  top: 40px;
  left: 25px;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale-name {
  position: absolute;
  right: 45px;
  top: 30px;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale-name h3 {
  font-size: 1.3em;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale-votes {
  background-color: #fff;
  background: url("../imgs/icons/rate.png"), url("../imgs/icons/rate.png"), url("../imgs/icons/rate.png"), url("../imgs/icons/rate.png"), url("../imgs/icons/rate.png");
  -webkit-background-size: 14px 12px;
  -moz-background-size: 14px 12px;
  background-size: 14px 12px;
  position: absolute;
  height: 13px;
  right: 145px;
  top: 95px;
  width: 71px;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale-price {
  color: #ff5912;
  position: absolute;
  right: 45px;
  top: 82px;
}
#best-sales .container #best-sales-body .best-sales-content .best-sale-price h4 {
  font-weight: 700;
}
/*	End of Home Template Classes
--------------------------------*/
/*
	Products Template Classes 
==============================================================*/
#products-section {
  margin-top: 5em;
  margin-bottom: 5em;
}
#products-section .container .row #filters {
  z-index: 999;
}
#products-section .container .row #filters .filter {
  background: #fff;
  margin-bottom: 2em;
  max-width: 270px;
  min-width: 220px;
  padding: 2.5em 2.7em;
}
#products-section .container .row #filters .filter h4 {
  color: #ff5912;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: -1px;
}
#products-section .container .row #filters .filter ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
#products-section .container .row #filters .filter ul li {
  cursor: pointer;
  font-weight: 700;
  list-style: none;
  margin: 2em 0;
}
#products-section .container .row #filters .filter ul .active {
  color: #ff5912;
}
#products-section .container .row #filters .filter .styled-ul li {
  padding-left: 1.8em;
  position: relative;
}
#products-section .container .row #filters .filter .styled-ul li::before {
  content: '';
  background: rgba(128,128,128,0.2);
  height: 13px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 13px;
}
#products-section .container .row #filters .filter .styled-ul .active::before {
  content: '';
  background: #fff;
  border: 4px solid #ff5912;
}
#products-section .container .row #filters .filter-price-content {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 2.5em;
}
#products-section .container .row #filters .filter-price-content .line-filter {
  border-bottom: 2px solid rgba(128,128,128,0.4);
  height: 30px;
  margin-bottom: 2em;
  margin-top: 2em;
  position: relative;
}
#products-section .container .row #filters .filter-price-content .line-filter .price-from {
  left: 7%;
  position: absolute;
  text-align: left;
  top: -5px;
}
#products-section .container .row #filters .filter-price-content .line-filter .price-to {
  position: absolute;
  right: 3%;
  top: -5px;
}
#products-section .container .row #filters .filter-price-content .line-filter .dot-from {
  left: 10%;
  position: absolute;
}
#products-section .container .row #filters .filter-price-content .line-filter .from-to {
  border-bottom: 3px solid #34404b;
  bottom: -3px;
  left: 10%;
  min-width: 5px;
  padding: 0 0.2em;
  position: absolute;
  right: 10%;
}
#products-section .container .row #filters .filter-price-content .line-filter .dot-to {
  position: absolute;
  right: 10%;
}
#products-section .container .row #filters .filter-price-content .line-filter .dot {
  background: #34404b;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  border-radius: 50%;
  cursor: pointer;
  height: 11px;
  bottom: -7px;
  width: 11px;
}
#products-section .container .row #filters .filter-price-content .text-filter {
  display: inline-block;
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}
#products-section .container .row #filters .filter-price-content .text-filter .from {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: absolute;
  top: 10px;
}
#products-section .container .row #filters .filter-price-content .text-filter .to {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: absolute;
  right: 0px;
  top: 10px;
}
#products-section .container .row #filters .filter-price-content .text-filter label {
  margin: 0 0.5em 0 0em;
}
#products-section .container .row #filters .filter-price-content .text-filter input {
  background: rgba(128,128,128,0.1);
  border: none;
  outline: none;
  height: 29px;
  position: relative;
  top: -5px;
  width: 49px;
}
#products-section .container .row #results {
  padding: 0;
}
#products-section .container .row #results #products {
  z-index: 0;
  display: block;
}
#products-section .container .row #results #products .product {
  margin-bottom: 2em;
}
#products-section .container .row #results #product-paging {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 50px;
}
#products-section .container .row #results #product-paging .paging-controls {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 2.8em;
}
#products-section .container .row #results #product-paging .paging-controls span {
  background: #ff5912;
  border-radius: 50%;
  cursor: pointer;
  height: 8px;
  margin: 0 0.2em;
  width: 8px;
}
/*	End of Products Template Classes
--------------------------------*/
/*
	Product Details || Product Show Template Classes 
==============================================================*/
#product-details-section {
  background: #fff;
  min-height: 650px;
}
#product-details-section .container {
  padding-top: 5em;
  padding-bottom: 3em;
}
#product-details-section .container .row #product-details {
  display: block;
  position: relative;
  top: -50%;
}
#product-details-section .container .row #product-details .product-view {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2em;
}
#product-details-section .container .row #product-details .product-view-large {
  min-height: 350px;
}
#product-details-section .container .row #product-details .product-view-mini {
  border: 3px solid #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -o-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
  max-width: 330px;
  margin-left: 5%;
  overflow-y: auto;
}
#product-details-section .container .row #product-details .product-view-mini .mini-image {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 69px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: 1em;
  min-width: 95px;
  position: relative;
  width: 95px;
}
#product-details-section .container .row #product-details .product-view-mini .mini-image-bg {
  background: rgba(128,128,128,0.3);
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
}
#product-details-section .container .row #product-details .product-view-mini .mini-image-bg:hover {
  background: rgba(255,89,18,0.3);
}
#product-details-section .container .row #product-details .product-view-mini .mini-image .active {
  background: rgba(255,89,18,0.5);
}
#product-details-section .container .row #product-details .product-detail {
  padding-right: 0;
}
#product-details-section .container .row #product-details .product-detail-title h1 {
  color: #ff5912;
  font-size: 2.9em;
  font-weight: 900;
  text-transform: uppercase;
}
#product-details-section .container .row #product-details .product-detail-content-pack p {
  font-size: 1.17em;
  font-weight: 700;
}
#product-details-section .container .row #product-details .product-detail-content-description {
  margin-bottom: 5em;
}
#product-details-section .container .row #product-details .product-detail-content-description p {
  font-size: 1.1em;
}
#product-details-section .container .row #product-details .product-detail .choose-size ul label {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-right: 0.5em;
}
#product-details-section .container .row #product-details .product-detail .choose-size ul li {
  cursor: pointer;
  font-weight: bold;
}
#product-details-section .container .row #product-details .product-detail .choose-size ul li::after {
  content: '-';
  position: relative;
  right: -8px;
}
#product-details-section .container .row #product-details .product-detail .choose-size ul li:last-child::after {
  content: '';
}
#product-details-section .container .row #product-details .product-detail .choose-size ul .active {
  font-size: 1.25em;
  color: #ff5912;
}
#product-details-section .container .row #product-details .product-detail .choose-quantity {
  padding-left: 1.5em;
  padding-right: 0;
}
#product-details-section .container .row #product-details .product-detail .choose-quantity label {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-right: 1em;
}
#product-details-section .container .row #product-details .product-detail .choose-quantity span {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 0.8em;
}
#product-details-section .container .row #product-details .product-detail .choose-quantity .active {
  color: #ff5912;
  font-weight: 800;
}
#product-details-section .container .row #product-details .product-detail .product-foot {
  margin-top: 4.6em;
}
#product-details-section .container .row #product-details .product-detail .product-foot-price label {
  font-size: 1.4em;
  font-weight: 700;
}
#product-details-section .container .row #product-details .product-detail .product-foot-order {
  padding-left: 1.7em;
  padding-right: 0;
}
#product-details-section .container .row #product-details .product-detail .product-foot-order span {
  margin-right: 1.7em;
}
#product-details-section .container .row #product-details .product-detail .product-foot-order span img {
  cursor: pointer;
}
#product-details-section .container .row #product-details .product-detail .product-foot-order span button {
  background: #ff5912;
  color: #fff;
  border-radius: 50px;
  padding: 0.85em 2em;
}
#related-products-section .container {
  padding: 5em 0 2em 0;
}
#related-products-section .container #related-products #product-title {
  margin-bottom: 1.5em;
}
#related-products-section .container #related-products #product-title h2 {
  font-size: 1.7em;
}
#related-products-section .container #related-products #product-description {
  margin-bottom: 4em;
  text-align: center;
}
#related-products-section .container #related-products #product-content {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow-y: auto;
  padding: 0.7em;
}
#related-products-section .container #related-products #product-content .product {
  margin-bottom: 2em;
}
/*	End of Product Details || Product Show Template Classes
--------------------------------*/
